:root {
  --blanc: #fff;
  --blau-fosc: #1B1F3B;
  --verd-accent: #DCF763;
  --gris: #F1F2EE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--blau-fosc);
}

/*Centrar elements*/
form, input, label, textarea {
  margin: 0 auto;
}

section {
  text-align: center;

}

h1 {
  color: var(--verd-accent);
  text-align: center;
}

header ul{
  text-decoration: none;
  pointer-events: stroke;
  margin-top: 15px;
  margin-bottom: 15px;
}

main{
  background-color:var(--gris) ;
}


/*Color blau dels fons i text blanc*/
header{
  background-color: var(--blau-fosc);
  color: var(--blanc);
  text-align: center;
  padding: 20px;
}

/*Color blau dels fons i text blanc*/
footer{
  background-color: var(--blau-fosc);
  color:var(--blanc);
  text-align: center;
  padding: 20px;
}